<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-item>
  <ion-label>Latitude:</ion-label>
  <ion-label *ngIf=lat> {{lat}} </ion-label>
</ion-item>
<ion-item>
  <ion-label>Longitude:</ion-label>
  <ion-label *ngIf=lng> {{lng}} </ion-label>
</ion-item>
<ion-item>
  <ion-label>Accuracy:</ion-label>
  <ion-label *ngIf=acc> {{acc}} </ion-label>
</ion-item>

<ion-item>
  <ion-label>Watch Position</ion-label>
</ion-item>

<ion-item>
  <ion-label>Latitude:</ion-label>
  <ion-label *ngIf=lat> {{lat}} </ion-label>
</ion-item>
<ion-item>
  <ion-label>Longitude:</ion-label>
  <ion-label *ngIf=lng> {{lng}} </ion-label>
</ion-item>
<ion-item>
  <ion-label>Accuracy:</ion-label>
  <ion-label *ngIf=acc> {{acc}} </ion-label>
</ion-item>
</ion-content>
